@import "@fontsource/calistoga/latin-400.css";
@import "@fontsource/calistoga/latin-ext-400.css";
@import "@fontsource/inter/latin-400.css";
@import "@fontsource/inter/latin-500.css";
@import "@fontsource/inter/latin-600.css";
@import "@fontsource/inter/latin-700.css";
@import "@fontsource/inter/latin-ext-400.css";
@import "@fontsource/inter/latin-ext-500.css";
@import "@fontsource/inter/latin-ext-600.css";
@import "@fontsource/inter/latin-ext-700.css";
@import "@fontsource/jetbrains-mono/latin-400.css";
@import "@fontsource/jetbrains-mono/latin-500.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 166.2 76.5% 96.7%;
    --foreground: 175.9 60.8% 19%;
    --card: 0 0% 100%;
    --card-foreground: 175.9 60.8% 19%;
    --primary: 174.7 83.9% 31.6%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 173.4 80.4% 40%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 195 35.3% 93.3%;
    --muted-foreground: 215.3 19.3% 34.5%;
    --accent: 167.2 85.5% 89.2%;
    --accent-foreground: 175.9 60.8% 19%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 100%;
    --urgencia: 20.5 90.2% 48.2%;
    --urgencia-foreground: 222.2 47.4% 11.2%;
    --border: 168.4 83.8% 78.2%;
    --input: 168.4 83.8% 78.2%;
    --ring: 174.7 83.9% 31.6%;
    --radius: 0.625rem;
    --sidebar: 166.4 55% 92.2%;
    --sidebar-foreground: 175.9 60.8% 19%;
  }

  .dark {
    --background: 170.8 31.7% 8%;
    --foreground: 165.9 45.9% 92.7%;
    --card: 170.5 33.3% 11.2%;
    --card-foreground: 165.9 45.9% 92.7%;
    --primary: 172.5 66% 50.4%;
    --primary-foreground: 175.6 80.4% 10%;
    --secondary: 170.6 37.2% 16.9%;
    --secondary-foreground: 170.6 76.9% 64.3%;
    --muted: 167.4 26% 14.3%;
    --muted-foreground: 168.6 10.9% 62.2%;
    --accent: 170.6 37.2% 16.9%;
    --accent-foreground: 170.6 76.9% 64.3%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --urgencia: 27 96% 61%;
    --urgencia-foreground: 222.2 47.4% 11.2%;
    --border: 164 30% 19.6%;
    --input: 164 30% 19.6%;
    --ring: 172.5 66% 50.4%;
    --sidebar: 170 37.5% 6.3%;
    --sidebar-foreground: 165.9 45.9% 92.7%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}
